.AvisoPrivacidad{
    margin-top: 60px;
}
.titAv {
    font:15px Arial;
    color: #424242;
    margin-top: 50px;
    padding: 10px;
    text-align: center;
    background: #F2F2F2;
    width: 100%;
}

.cntAv{
     font:15px Arial;
     color: #585858;
     margin-top: 30px;
     text-align: justify;
     width: 100%;
}
.sbtAv{
    padding-left: 20px;
    text-align: justify;

}

