*{
	padding: 0;
	margin:0;
}

/*Recuadro de Quienes somos*/

.QuienesSomos{
	width: 100%;
	margin-top: 110px;
}
.HiMiVi{
    margin-top: 40px;
}

/*<!--HISTORIA,MISION Y VISION-->*/
.FondoPrNa,
.FondoHMV,
.FondoQS{
	width: 100%;

}
.TitlePrNa,
.TitleHMV,
.TitleQS{
	width: 100%;
	background: #0B4C5F;
	font:18px Arial;
    color: white; 
    text-align: center;
    padding: 18px;
   
}
.PrNa,
.DESPrNa,
.TableHMV,
.TableQuiSomos{
	margin-top: 50px;
	width: 100%;
}
.DesPrNa,
.TableHMVLi,
.TableQuiSomosLi{
	
	  font: 15px Arial;
      color: #585858;
}
/*<!--Presencia Nacional-->*/
.PrNa{
	width: 100%;
}
.TitleEstPrePrNa{
    font:18px Arial;
    margin: 50px;
    text-align: left;
    color: #424242;
}
.InicioTitle{

    
    color: #0174DF;
}
.TableEsPrNa{
	margin-top:50px;
}
.TableEsPrNaEs{
    font: 15px Arial;
	padding: 10px;
    text-align: center;
    color: #0174DF;
}
