 *{padding: 0;margin: 0;}
.PorqueMB3{
  margin-top: 50px;
}
.TitlePQ{
	width: 100%;
	background: #0B4C5F;
	font:20px A;
  color: white; 
  text-align: center;
  padding: 18px;
   
    
    
}
.TodIntPorqueMB3{
    text-align: center;
    font:20px Arial;
    color:#86B404;
    margin-top: 50px;
}
    .ModulosMBA3{
    margin-top: 50px;
}
.TitleModulosMBA3{
    text-align: right;
}
.TextModulosMBA3{
    font: 15px Arial;
    color:#6E6E6E;
}
.TextMBA3{
    color:#0B4C5F;
}

/*<!--Redes Socilaes-->
<!--Redes Socilaes-->
<!--Redes Socilaes-->*/

.red {
    position: fixed;
    top: 200px;
    z-index: 100;
    left: 0;
}

#facebook a {
    background: #3b5998;
    padding: 10px 25px;
    color: #fff;
    text-decoration: none;
    width: 55px;
}


#facebook a:hover {
    background: #4285f4;
    padding: 10px 40px;
}

#youtube a {
    background: #bb0000;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    width: 55px;
}

#youtube a:hover {
    background: #ea4335;
    padding: 10px 40px;
}

#twitter a {
    background: #55acee;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    width: 55px;
}

#twitter a:hover {
    background: #00bcf2;
    padding: 10px 40px;
}
/*Ediciones*/
/*Ediciones*/
/*Ediciones*/

.EdiPorqueMB3{
    margin-top: 50px;
}

.VerEdiPorqueMB3{
   margin-top:  25px;
   margin-bottom: 45px;
   text-align: center;
}

/*<!--Algunas ventajas-->
<!--Algunas ventajas-->
<!--Algunas ventajas-->*/
.TitleAlgunasVent{
    background: #0B4C5F;
    color: white;
    font: 15px Arial;
    text-align: center;
    margin-top: 10px;
    padding:8px;
}
/*<!--DESCUBRE POR TI MISMO EL POTENCIAL DE MBA3 ERP-->
<!--DESCUBRE POR TI MISMO EL POTENCIAL DE MBA3 ERP-->
<!--DESCUBRE POR TI MISMO EL POTENCIAL DE MBA3 ERP-->*/

/*conocer erp*/
.ConErp{
      background:#EEEDED;
      width: 100%;
      margin-top: 50px;
}
/*Descubrir mba erp */
.DesMbErpConErp{
    text-align: center;
   
    color: #424242;
    font: 25px Arial;

}
 .VerConErp{
  margin-top: 40px;

 }

 .EstaErp{
     width:100%;
     background:transparent;
     display: block;
     padding: 30px;

}

.TitulosEstaErp{
    font: 15px Arial;
    color: #0470AE;
    text-align: center;
}
.EstErp{
    margin-top: 80px;
}
.TitulosEstErp{
    font: 18px Arial;
    color: #0470AE;
    text-align: center;
}
/*<!--DerRes-->
<!--DerRes-->
<!--DerRes-->*/

.DerRes{
  margin-top:  50px;
}


.DerResTextSu{
    font:15px Arial;
    color:#848484; 
    text-align: center;
}
