 *{padding: 0;margin: 0;}
.PorqueMB3{
   margin-top: 110px;
}
.TitlePQ{
   width: 100%;
   background: #0B4C5F;
   font:18px Arial;
   color: white; 
   text-align: center;
   padding: 18px;
   
    
    
}
.TodIntPorqueMB3{
    text-align: center;
    font:16px Arial;
    color:#86B404;
    margin-top: 50px;
}
.ModulosMBA3{
    font: 15px Arial:;
    margin-top: 50px;
}
.TitleModulosMBA3{
    text-align: right;
    font: 18px Arial;
    color: #424242;
}
.TextModulosMBA3{
   font:15px Arial;
   color: #585858;
  }
.TextMBA3{
    color:#0B4C5F;
}


/*Ediciones*/
/*Ediciones*/
/*Ediciones*/

.EdiPorqueMB3{
    margin-top: 50px;
}

.VerEdiPorqueMB3{
   margin-top:  25px;
   margin-bottom: 45px;
   text-align: center;
}

/*<!--Algunas ventajas-->
<!--Algunas ventajas-->
<!--Algunas ventajas-->*/
.TitleAlgunasVent{
    background: #0B4C5F;
    color: white;
    font: 18px Arial;
    text-align: center;
    margin-top: 10px;
    padding:8px;
}
