/*TITULO DE LA PAGINA*/



.TitleTableVerErp{
    text-align: center;
    font:Arial;
    color: #424242;
    margin-top: 110px;
    margin-bottom: 50px;
}

.FondTable{
    background: #EEEDED;
    color: #424242;
    font: 15px Arial;
}
.LicErp{
    color: #0470AE;
    text-align: center;
}
.AligRenglon{
    text-align: center;
}
.Subtitletable{
    background: #EEEDED;

}
.ColSubtitletable{
    color: #424242;
    font: 20px Arial;
}
.LetrReng{
    color: #424242;
    font: 15px Arial;
}
.AlingIcon{
    color: #424242;
    text-align: center;
    padding-top: 10px;
    
   

}
