
*{margin:0;padding: 0;}

/*Titulo de precencia nacional*/
.PreNa{
margin-top: 110px;
}
.FondoPreNa{
    width: 100%;
}
.TitlePreNa{
    width: 100%;
    background: #0B4C5F;
    font:18px Arial;
    color: white; 
    text-align: center;
    padding: 18px;
}
.TextPreNa{
  font: 15px Arial;
  color: #585858;
  margin-top: 50px;
}

/*Tabla de estados*/
.TableImplen{
margin-top: 50px;
}
.TileTableImplen{
    font:18px Arial;
    margin: 50px;
    text-align: left;
    color: #424242;
}
.InicioTitle{
    
    
    color: #0174DF;
}
.tableEstImple{
margin-top:50px;
}
.estadosImplen{
    font: 15px Arial;
    color: #0174DF;
    text-align: center;
}
