
.titleSoliMasInfo{
     margin-top: 30px;
     font: 25px Arial;
      color: #424242;
    }
  .IconosModulo{
    margin-top: 110px;
  }

  .TitleIcon{ 
  	text-align: center;
    font: Arial;
    color: #424242;
   }
   .AlignIcon{
    margin-top: 10px;
   }

   /*Formulario*/
 
   .TitleForm{
     text-align: center;
     background:#0470AE;
     color: white;
     font: 17px  Arial;
     padding-top: 2px;
 }
 .ContForm{

 	background:#EEEDED;
 	padding: 10px ;
 	padding-right: 10px;
 }
