
.EncAreaSistema{
  width: 100%;
  background: #0B4C5F;
}
.TitleAreaSistema{
  color: white;
  font:15px Arial;
  padding: 8px;
  
}
.imgAreaSistemaIn{
	text-align: right;

}

.TableAreaSistema{
  margin:25px;
  margin-left: 25px;
}
.TitleTableAreaSistema{
margin-top: 10px;  
padding: 10px;
color: #424242;
font: 12PX Arial;
background: #EEEDED;
}
/*<!--DerRes-->
<!--DerRes-->
<!--DerRes-->*/

.DerRes{
  width: 100%;
  margin-top:  50px;

}
.imgDerRes{
 
   width: 100%;
   position: relative;
}
.DerResText{

    width: 95%;
  
  font:15px Times;
    color: white; 
    text-align: right;
   
    position: absolute;
    bottom: 0;
    
  
}
.DerResTextSu{
     width: 100%;
  
  font:15px Times;
    color: white; 
    text-align: right;
   
    position: absolute;
   top: 10px;
}