.EresUsuario{
	margin-top: 50px;
}
.TitleEresUsuario{
	text-align: center;
  font: 25px Arial;
  color: #424242;
}
.TextEresUsuario{
	 font:15px Arial;
     color: #848484;
}
.ImgVerEresUsuario{
	margin-top: 50px;
}
.GraPro{
	margin-top: 50px;

    
}
.TitleGraPro{
    text-align: center;
	font: 25px Arial;
	color: #424242;
}
.SubTitleGraPro{
	margin-top: 50px;
	text-align: center;
	font: 20px Arial;
	color: #424242;
}
.TextGraPro{
		 font:15px Arial;
         color: #848484;
         margin-top: 30px;
}
.ComPro{
	font:15px Arial;
    margin-top: 30px;
}
.DesErp{
	margin-top: 50px;
}
/*conocer erp*/
.ConErp{
      background:#EEEDED;
      width: 100%;
      margin-top: 50px;
}
/*Descubrir mba erp */
.DesMbErpConErp{
    text-align: center;
    padding: 60px;
    color: #424242;
    font: 25px Arial;

}
 .VerConErp{
 	margin-top: 50px;
 }

 .EstaErp{
     width:100%;
     background:transparent;
     display: block;
     padding: 30px;

}

.TitulosEstaErp{
    font: 15px Arial;
    color: #0470AE;
    text-align: center;
}
.EstErp{
    margin-top: 80px;
}
.TitulosEstErp{
    font: 18px Arial;
    color: #0470AE;
    text-align: center;
}
/*<!--DerRes-->
<!--DerRes-->
<!--DerRes-->*/

.DerRes{
  margin-top:  50px;
}


.DerResTextSu{
    font:15px Arial;
    color:#848484; 
}
